h3 {color:#FF0000;}
h1 {text-align: center;}
body {font-family: sans serif;} {margin: 10px;}
#dialog {background-color:#CCC;} {border-radius:4px;} {text-align: center;} {width: 920px;} {margin: auto;}
iframe {margin: auto;}
